body{background-color:black;}
h1{color: orangered;}
p{color:black;}
h2{color: red;}
ol{color:red;}
p{font-family:monospace;}
body{background-image: url(/assets/imagenes/imaginedragonswallpaper.jpg);}
h1{background-color: black;}